* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.counter {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    column-gap: 7px;
}
.counter__button {
    flex: 0 0 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 100%;
    background-color: white;
    border: none;
    text-align: center;
}
.counter_input input {
    color: black;
}

.counter_input input.plus {
    color: green;
}

.counter_input input.minus {
    color: red;
}